$Lato: "Lato", sans-serif;
$Muli: "Muli", sans-serif;
$Bellota-Text: "Bellota Text", cursive;
$Work-Sans: "Work Sans", sans-serif;
$Sen: "Sen", sans-serif;

$gunmetal: #202030;
$alabaster: #ecebe4;
$eggshell: #f1e9db;
$sea-serpent: #4bc6b9;
$outer-space: #474954;
$ivory: #FFFFF2;
$honeydew: #F0F8EA;
$dandelion: #e8d82a;
$baby-blue: #A4BEF3;
