$gunmetal: #202030;
$Baloo: "Baloo Chettan 2", cursive;
$Lato: "Lato", sans-serif;
$Muli: "Muli", sans-serif;
$Bellota-Text: "Bellota Text", cursive;
$Work-Sans: "Work Sans", sans-serif;
$champagne-pink: #f2dfd7;
$antiflash-white: #F1E3F3;