$Lato: "Lato", sans-serif;
$Muli: "Muli", sans-serif;
$Bellota-Text: "Bellota Text", cursive;
$Work-Sans: "Work Sans", sans-serif;
$Sen: "Sen", sans-serif;

$gunmetal: #202030;
$champagne-pink: #f2dfd7;
$antiflash-white: #f1e3f3;
$sea-serpent: #4bc6b9;
