@import "variables";

#headerTitle {
  font-family: $Work-Sans;
  color: $sea-serpent;
  margin: auto;
}

body {
  background-color: $ivory;
  font-family: $Sen;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
  background: $outer-space;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: $outer-space;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 0 0 0;
  margin-left: 0;
//   background: #e8c152;
  color: white;
}
