@import "variables";

#headerTitle {
  font-family: $Lobster;
  color: $outer-space;
}

body {
  background-image: url("../assets/bush.png");
  font-family: $Sen;
  .container-fluid {
    padding: 0;
  }
}

#medicationHeader {
  color: $outer-space;
}

#medList {
  list-style: none;
  padding: 0;
  color: $outer-space;
  li {
    display: inline-block;
  }
}

#stickySidenav {
  position: fixed;
  z-index: 1000;
  width: 10rem;
  ul {
    list-style: none;
    padding: 0;
    a {
      color: $outer-space;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $dandelion;
        li {
          background-color: $outer-space;
        }
      }
      &:not(:last-of-type) li {
        margin-bottom: 0.25rem;
      }
    }
    li.sidenav-item {
      transition: 0.25s;
      border-radius: 0 5px 5px 0;
      padding: 0.25rem 1rem 0.25rem 0.5rem;
      background-color: $dandelion;
    }
  }
}

#contentBody {
  width: 75%;
  margin: auto;
}

.section-title {
  color: $outer-space;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: $dandelion;
  i {
    background-color: $outer-space;
    color: $dandelion;
    padding: 0.5rem;
    border-radius: 50%;
  }
}

.row {
  padding-left: 1rem;
  padding-right: 1rem;
}

#topNav {
  background: $dandelion;
  border-bottom: solid 0.5rem $ash-grey;
  margin-bottom: 2rem;
}

.countup {
  text-align: center;
  background: $outer-space;
  border-radius: 5px;
}
.countup .timeel {
  display: inline-block;
  padding: 0;
  background: $outer-space;
  margin: 0;
  color: $dandelion;
  font-size: xx-large;
  min-width: 2.6rem;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 0 0 0;
  margin-left: 0;
  font-size: large;
  color: white;
  &:last-of-type {
    padding-right: 0.5rem;
  }
}

.card-img-top {
  width: 50%;
  margin: auto;
}

.row.section-row {
  margin-bottom: 1rem;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.tick-flip {
  font-size: 2rem;
}

.tick-group {
  padding: 0 .5rem;
  text-align: center;
}