@import "variables";

#headerTitle {
  font-family: $Work-Sans;
  color: $outer-space;
  margin: auto;
}

body {
  background-color: $ivory;
  font-family: $Sen;
  .container-fluid {
    padding: 0;
  }
}

.row {
  padding-left: 1rem;
  padding-right: 1rem;
}

#topNav {
  background: $dandelion;
  border-bottom: solid 0.5rem $baby-blue;
}

#counterRow {
  margin-bottom: 2rem;

  .countup {
    text-align: center;
    background: $outer-space;
    width: 10rem;
    border-radius: 5px;
  }
  .countup .timeel {
    display: inline-block;
    padding: 0;
    background: $outer-space;
    margin: 0;
    color: white;
    font-size: xx-large;
    min-width: 2.6rem;
    border-radius: 10px 0 0 10px;
  }
  .countup span[class*="timeRef"] {
    border-radius: 0 0 0 0;
    margin-left: 0;
    font-size: large;
    color: $dandelion;
  }
}
